asgiref~=3.5.0
Django~=3.2
django-admin-sortable2~=1.0.3
django-tinymce~=3.4.0
environs~=9.5.0
marshmallow~=3.14.1
Pillow~=9.0.1
python-dotenv~=0.19.2
pytz~=2021.3
setuptools~=60.8.2
sqlparse~=0.4.2
requests~=2.27.1
pathvalidate~=2.5.0
